/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

boby {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5px;
}

/* Nav bar style */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  background-color: rgb(78, 215, 233);
}

header > div > a {
  text-decoration: none;
  color: #333;
  font-weight: bolder;
  gap: 10px;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nav-bar > a {
  text-decoration: none;
}
